<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
	<clear />    
	<add key="Indium Local Packages" value="https://devops.ica.com:5000/v3/index.json" />    
	<add key="DevExpress" value="https://nuget.devexpress.com/PJovzkEf6lhOBS5iBMnX7u5dc5baKsC3wj1P4vKddbX2IkJyH2/api/v3/index.json" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
</packageSources>
</configuration>