@using SDSFinder.Modules.Services
@using SDSFinder.EFModels
@using SDSFinder.EFContexts
@using MudBlazor

@page "/"

@inject IJSRuntime JSRuntime
@inject ILogger<Index> Logger
@inject ISnackbar Snackbar
@inject ISiteService siteService
        <div class="label-font-size">Site</div>
        T="CmSiteMaster"
        Required="true"
        Margin="@Margin.Dense"
        Dense="true"
        Variant="Variant.Filled"
        ToStringFunc="@(e => e is null || string.IsNullOrEmpty(e.SiteCode) || string.IsNullOrEmpty(e.SiteName) ? null : $"{e.SiteCode} - {e.SiteName}")"
        MaxItems="100"
        Clearable="true"

    </MudItem>
</div>


@code {
    /// <summary>
    /// This is a function that gets called when the page is first rendered.
    /// This page can be cached and may not always run when changing pages, just the first time within the instance
    /// </summary>

    #region  Properties

    private string? jobNumber { get; set; }
    public bool ReadOnly = false;
    private MudTextField<string> jobRef;
    private List<SDSTableResult?> TableResults = new();
    private CmSiteMaster? site
    {
        get
        {
            return _site;
        }
        set
        {
            if(value is not null && _site != value)
            {
                _site = value;
                ReadOnly = false;
            }
            else
            {
                _site = null;
                ReadOnly = true;
            }
        }
    }
    private CmSiteMaster? _site = null;
    #endregion

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // DELETE ME IF NOT USED
        }
        catch (Exception ex)
        {
            Snackbar.Add("An Error Occurred", Severity.Error);
            Logger.LogError(ex.ToString());
            await JSRuntime.InvokeVoidAsync("console.error", ex.ToString());
        }
    }

    private async Task<IEnumerable<CmSiteMaster>> GetSites(string? value)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            return await siteService.GetAll();
        }
        else
        {
            return await siteService.GetLimitedListBy(x => x.SiteCode.Contains(value) || x.SiteName.Contains(value), 100);
        }

    }

    }

            ItemGlbl? item = await itemService.GetBy(x => x.Item == job.Item);
            List<Document> documents = await documentService.GetListBy(x => x.SafetyDocumentId.Equals(item.IndSds));
            if (documents.Count() > 0)
            {
                List<SDSTableResult?> tableResults = new();
                foreach(Document document in documents)
                {
                    string language = await GetLanguage(document.FileName);
                    SDSTableResult tableResult = new()
                    {
                        ItemNumber = item.Item,
                        ItemDescription = item.Description,
                        PdfLocation = document?.FileLocation,
                        Language = language
                    };

                    tableResults.Add(tableResult);

                }
                TableResults = tableResults;
            }
        }
        else
        {
            TableResults = new();
            Snackbar.Add("Please enter a Job Number", Severity.Info);
        }
    }
    private async Task<string> GetLanguage(string fileName)
    {
        string languageCode = !String.IsNullOrWhiteSpace(fileName) && fileName.Length >= 2 ?
        fileName.Substring(0, 2) : fileName;
        var result = languageCode switch
        {
            "cs" => "",
            "de" => "German",
            "en" => "English",
            "es" => "Spanish",
            "et" => "",
            "fi" => "Finnish",
            "fr" => "French",
            "hu" => "Hungarian",
            "it" => "Italian",
            "ms" => "Malay",
            "no" => "Norwegian",
            "pl" => "Polish",
            "pt" => "Portuguese",
            "ro" => "Romanian",
            "ru" => "Russian",
            "sv" => "Swedish",
            "zf" => "Chinese (Simplified)",
            "zh" => "Chinese",
            _ => "Unsupported language"
        };
        return result;
    }
    /// <summary>
    /// This is a function that gets called any time that MainLayout.razor re-renders.
    /// </summary>
    protected override void OnParametersSet()
    {
        try
        {
            // DELETE ME IF NOT USED
        }
        catch (Exception ex)
        {
            Snackbar.Add("An Error Occurred", Severity.Error);
            Logger.LogError(ex.ToString());
        }
    }


}