.full-height {
    height: 100vh;
    overflow: hidden;
}

.search-section {
    padding: 16px;
    border-bottom: 1px solid var(--mud-palette-divider);
}

.content-section {
    height: calc(100vh - 120px);
    Adjust based on your search section height overflow: hidden;
}

::deep .button {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.component-class {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
